{:let []

 :document
 [:html
  [:body
   [:div#id-example]
   [:div#id.class-example]
   [:div.class-example.multiple-class]
   [:div {} "some"]
   [:div {} [:div "some2"]]]
  [:style
   {:#id-example     {}
    :.class-example  {}
    :.multiple-class {}}]]}
